'context-menu':
  '.tree-view .file': [
    {'label': 'Open External', 'command': 'open-external:open'}
  ]
  '.tree-view .directory': [
    {'label': 'Open External', 'command': 'open-external:open'}
  ]
  '.image-view, .image-editor': [
    {'label': 'Open External', 'command': 'open-external:open'}
    {'label': 'Show in Folder', 'command': 'open-external:show'}
  ]
