'atom-workspace':
  'alt-u': 'open-external:toggle'

'atom-text-editor:not([mini]), .tree-view, .image-view, .image-editor, .pdf-viewer':
  'alt-f12' : 'open-external:open'
  'ctrl-f12': 'open-external:show'
